# Rename to .env

### DEVELOPMENT ONLY VARIABLES
# These variables need to be set
# for local development only

# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://app.localhost:3000

### PRODUCTION & DEVELOPMENT VARIABLES
# These variables need to be set
# for local development and when deployed on Vercel

# MySQL database URL for Prisma
DATABASE_URL=mysql://nxf5dmmbpj4p:pscale_pw_RCsunwY-QD4SE1uLCdXIlhSEUgKKgYZuawwXOyghMzE@sx5loijhtbsg.us-east-4.psdb.cloud/platforms?sslaccept=strict

# GitHub OAuth https://docs.github.com/en/developers/apps/building-oauth-apps/creating-an-oauth-app
GITHUB_ID=09cd67226b103405a3b4
GITHUB_SECRET=af13926b457dd2ed9ee22d602dada081bc105ad0

# Twitter Auth Bearer token (for static tweets)
TWITTER_AUTH_TOKEN=

# Secret key (generate one here: https://generate-secret.vercel.app/32)
NEXTAUTH_SECRET=Rokas

AUTH_BEARER_TOKEN=
VERCEL_PROJECT_ID=
VERCEL_TEAM_ID=
